<div style="background:transparent url({aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/bgtop.gif) repeat-x scroll 50% 0%; width:100%">
<div id='top' style='width:1002px;height:547px;'>
<div id='pdv_10806' class='pdv_class'  title='' style='width:262px;height:52px;top:38px;left:20px; z-index:5'>
<div id='spdv_10806' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;">
	<div style="padding:0px">
<a href="#"><img src="{aspcms:sitelogo}" border="0" /></a></div></div>
</div>
</div>
<!-- Í¼Æ¬ÂÖ²¥(S1) -->
<div id='pdv_12279' class='pdv_class'  title='' style='width:1001px;height:431px;top:114px;left:1px; z-index:11'>
<div id='spdv_12279' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
	
<div style="padding:0px">
<link rel="stylesheet" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/advsslides.css" />
<script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/advsslides.js" type="text/javascript"></script>
	<script>
		$(function(){

			$('#s1_slides').slides({

				preload: true,

				preloadImage: '{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/s1-loading.gif',

				play: 5000,

				pause: 2500,

				hoverPause: true

			});

		});

	</script>
	<div id="s1_container">
		<div id="s1_example">
			<div id="s1_slides">
            <div class="slides_container">
<a href='{aspcms:sitepath}/' title='' target='_blank'><img src='{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1268974769.jpg' width='960' height='400' alt='' border='0'></a>
<a href='{aspcms:sitepath}/' title='' target='_blank'><img src='{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1268974824.jpg' width='960' height='400' alt='' border='0'></a>
<a href='{aspcms:sitepath}/' title='' target='_blank'><img src='{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1268974799.jpg' width='960' height='400' alt='' border='0'></a>
<a href='{aspcms:sitepath}/' title='' target='_blank'><img src='{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1351476522.jpg' width='960' height='400' alt='' border='0'></a>
 </div></div><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/s1-frame.png" width="1002" height="431" alt="Frame" id="s1_frame"></div></div></div>
</div></div></div>
<div id='pdv_11889' class='pdv_class'   style='width:721px;height:500px;top:0px;left:281px; z-index:12'>
<div id='spdv_11889' class='pdv_top' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="padding:0px">
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/A.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/dropdownmenu_dolphin.js"></script>

<div class="dropdownmenu_dolphin">



<div id="dorpmenu_dolphin0" class="dorpmenu_dolphin">

	<a href="{aspcms:sitepath}/" class="dorpmenu_dolphin" id="dorpmenu0">ÍøÕ¾Ê×Ò³</a>

</div>

<div id="subdorpmenu_dolphin0" class="subdorpmenu_dolphin">



</div>

{aspcms:navlist}

<div id="dorpmenu_dolphin[navlist:sortid]" class="dorpmenu_dolphin">
<a href="[navlist:link]"  class="dorpmenu_dolphin" id="dorpmenu[navlist:sortid]">[navlist:name]</a>
</div>

<div id="subdorpmenu_dolphin[navlist:sortid]" class="subdorpmenu_dolphin">

<ul>
{aspcms:1navlist type=[navlist:sortid]}

<li id="dropmenuli_dolphin[1navlist:sortid]" >
<a href="[1navlist:link]"  class="subdorpmenu_dolphin">[1navlist:name] </a>
</li>

{/aspcms:1navlist}
</ul>


</div>
{/aspcms:navlist}

</div>

<script>document.getElementById("dorpmenu_dolphin0").className='dorpmenu_dolphin_current';

document.getElementById("dorpmenu_dolphin0").getElementsByTagName("a")[0].className='dorpmenu_dolphin_current';</script>



</div>

</div>


</div>
</div>
</div></div>