<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{aspcms:sitetitle}{aspcms:additiontitle}</title>
<meta name="Keywords" content="{aspcms:sitekeywords}" >
<meta name="Description" content="{aspcms:sitedesc}" >
<META http-equiv="Content-Type" content="text/html; charset=gb2312">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<link type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/common.css" rel="stylesheet">
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/base.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/common.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/form.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/blockui.js"></script>
</head>{aspcms:onlineservice}
}
<body style='background:transparent url({aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/bg.gif) repeat-x scroll 50% 0%'>
<script>
var PDV_PAGEID='1'; 
var PDV_RP=''; 
var PDV_COLTYPE='index'; 
var PDV_PAGENAME='index'; 
</script>

<div id='contain' style='width:1002px;margin:0px auto;padding:0px'>
{aspcms:top}

<div id='content' style='width:1002px;height:495px;background:rgb(255, 255, 255);margin:0px auto; padding-bottom:15px;'>
{aspcms:floatad}
{aspcms:windowad}


<!-- HTML编辑区 -->

<div id='pdv_11519' class='pdv_class'  title='' style='width:236px;height:258px;top:8px;left:21px; z-index:2'>
<div id='spdv_11519' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="padding:0px">
<div style="BACKGROUND: #f9f9f9; HEIGHT: 258px"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/201001261264475283078.png">&#160;&#160;&#160;&#160;&#160;&#160; 

<div style="PADDING-LEFT: 34px; PADDING-RIGHT: 34px; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; COLOR: #5c5c5c; PADDING-TOP: 12px"><span style="LINE-HEIGHT: 23px">&#160;&#160;&#160;&#160;{aspcms:about sort=19 len=150 }[about:desc]...</span><br><span style="TEXT-ALIGN: right; LINE-HEIGHT: 48px; PADDING-LEFT: 65px"><a href="[about:link]">点这里查看详情</a><img style="PADDING-LEFT: 5px" border="0" alt="" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/201210291351491256662.png"></span>{/aspcms:about}</div></div>

</div>

</div>


</div>
</div>

<!-- HTML编辑区 -->

<div id='pdv_11892' class='pdv_class'  title='' style='width:257px;height:258px;top:8px;left:495px; z-index:3'>
<div id='spdv_11892' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="padding:0px">

<div style="BACKGROUND: #f9f9f9; HEIGHT: 258px"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/201001261264475283080.png">&#160;&#160;&#160;&#160;&#160;&#160; 

<div style="PADDING-LEFT: 37px; PADDING-RIGHT: 37px; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; COLOR: #4b4b4b; PADDING-TOP: 12px"><span style="LINE-HEIGHT: 23px">&#160;&#160;&#160;&#160;{aspcms:about sort=21 len=150 }[about:desc]...</span><br><span style="TEXT-ALIGN: right; LINE-HEIGHT: 48px; PADDING-LEFT: 77px"><a href="[about:link]">点这里查看详情</a><img style="PADDING-LEFT: 5px" border="0" alt="" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/201210291351491256662.png"></span>{/aspcms:about}</div></div>

</div>

</div>


</div>
</div>

<!-- HTML编辑区 -->

<div id='pdv_11891' class='pdv_class'  title='' style='width:238px;height:258px;top:8px;left:257px; z-index:4'>
<div id='spdv_11891' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>
<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">
<div style="padding:0px">
<div style="BACKGROUND: #f9f9f9; HEIGHT: 258px"><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/201001261264475283079.png">&#160;&#160;&#160;&#160;&#160;&#160; 

<div style="PADDING-LEFT: 33px; PADDING-RIGHT: 33px; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; COLOR: #5c5c5c; PADDING-TOP: 12px"><span style="LINE-HEIGHT: 23px">&#160;&#160;&#160;&#160;{aspcms:about sort=20 len=150 }[about:desc]...</span><br><span style="TEXT-ALIGN: right; LINE-HEIGHT: 48px; PADDING-LEFT: 65px"><a href="[about:link]">点这里查看详情</a><img style="PADDING-LEFT: 5px" border="0" alt="" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/201210291351491256662.png"></span>{/aspcms:about}</div></div>

</div>

</div>


</div>
</div>

<!-- 图片分类（列表） -->

<div id='pdv_11893' class='pdv_class'  title='' style='width:191px;height:260px;top:9px;left:786px; z-index:7'>
<div id='spdv_11893' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:#fff">

<div style="height:56px;border:0px;padding:0;margin:0;background:url({aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/an.png) 0px 0px no-repeat;">

</div>

<div style="margin:0px;padding:0px;">

<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/photoclass_cyrano.css" rel="stylesheet" type="text/css">

<div class="photoclass_cyrano">
{aspcms:navlist type=10}
  <A title="[navlist:name]" href="[navlist:link]"  class="photoclass_cyrano">[navlist:name]</A>
  {/aspcms:navlist}

</div>



</div>

</div>


</div>
</div>

<!-- HTML编辑区 -->

<div id='pdv_11894' class='pdv_class'  title='' style='width:191px;height:200px;top:290px;left:786px; z-index:8'>
<div id='spdv_11894' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="border:0px;height:100%;padding:0;margin:0;background:#fff">

<div style="height:42px;border:0px;padding:0;margin:0;background:url({aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/lx.png) 0px 0px no-repeat;">

</div>

<div style="margin:0px;padding:0px;">

<div style="LINE-HEIGHT: 23px; PADDING-LEFT: 2px; PADDING-TOP: 25px"><b>{aspcms:companyname}</b> <br>地址：{aspcms:companyaddress}<br> 电话：{aspcms:companyphone}  <br>传真：{aspcms:companyfax} <br>手机：{aspcms:companymobile} <br>邮箱：{aspcms:companyemail}</div>

</div>

</div>


</div>
</div>

<!-- 图片+名称 -->

<div id='pdv_11523' class='pdv_class'  title='' style='width:725px;height:140px;top:353px;left:20px; z-index:9'>
<div id='spdv_11523' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;">

<div style="padding:0px">



<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/photopic_roll.css" type="text/css" rel="stylesheet">

<script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/productlist_roll.js" type="text/javascript"></script>

<div class="blkphotox">

			<div class="LeftButton" id="LeftArr1"></div>

			<div class="Cont" id="ISL_Cont_11" style="overflow:hidden;">


{aspcms:content sort=10 num=8 order=id}
					<div class="box">

						<div style="width:160px;height:114px">

							<div  style="width:160px;height:114px">

							<a href="[content:link]" target="_self"><img height="114px" src="[content:pic]" width="160px" border="0" title="[content:title]"></a>

							</div>

						</div>

						<div class="title"><a href="[content:link]" target="_self">[content:title]</a></div>

					</div>

{/aspcms:content}


			</div>

			<div class="RightButton" id="RightArr1"></div>

<script language="JavaScript" type="text/javascript">

<!--//--><![CDATA[//><!--

var scrollPic_03 = new ScrollPic();

scrollPic_03.scrollContId   = "ISL_Cont_11"; 

scrollPic_03.arrLeftId      = "LeftArr1";

scrollPic_03.arrRightId     = "RightArr1";



scrollPic_03.frameWidth     = 700;

scrollPic_03.pageWidth      = 174;



scrollPic_03.speed          = 10; 

scrollPic_03.space          = 10; 

scrollPic_03.autoPlay       = true; 

scrollPic_03.autoPlayTime   = 3; 



scrollPic_03.initialize(); 

							

		//--><!]]>


</script>

		</div>

	</div>

</div>
	</div>

</div>


<div id='pdv_12280' class='pdv_class'  title='' style='width:722px;height:37px;top:289px;left:21px; z-index:13'>
<div id='spdv_12280' class='pdv_content' style='overflow:hidden;width:100%;height:100%'>

<div class="pdv_border" style="margin:0;padding:0;height:100%;border:0px  solid;background:;">

	<div style="height:25px;margin:1px;display:none;background:;">

		<div style="float:left;margin-left:12px;line-height:25px;font-weight:bold;color:">

		

		</div>

		<div style="float:right;margin-right:10px;display:inline">

		<a href="#" style="line-height:25px;color:">更多</a>

		</div>

	</div>

<div style="padding:0px">
<img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/1351492731.png" border="0" width="100%"></div></div></div>
</div></div></div></div>
<div id='bottom' style='width:1002px;height:80px; margin:0px auto;'>



<div style=" LINE-HEIGHT:25px; height:80px;padding-top:25px;background:#363636;TEXT-ALIGN: center;FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff ">Copyright (C) 2011-2014 All Rights Reserved. {aspcms:companyname} {aspcms:companyicp} <br />地址：{aspcms:companyaddress}  电话：{aspcms:companyphone}  传真：{aspcms:companyfax}  网址：{aspcms:siteurl} {aspcms:copyright}
</div></div>

</div>

</body>

</html>