<!DOCTYPE HTML>
<html>
<head>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<title>[news:title]-{aspcms:sortname}-{aspcms:sitetitle}</title>
<meta name="Keywords" content="[news:keyword]" >
<meta name="Description" content="[news:desc]" >
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/ui/met/css/metinfo_ui.css" id="metuimodule" data-module ="10001" />
<link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/templates/met091/images/css/metinfo.css" />
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/js/common.css" rel="stylesheet" media="screen" type="text/css" />
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/js/sub.css" rel="stylesheet" media="screen" type="text/css" />
<link href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/js/kefu.css" rel="stylesheet" media="screen" type="text/css" />
<link type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/front.css" rel="stylesheet" />
<script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/js/jQuery1.7.2.js" type="text/javascript"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/js/ADS-final-verbose.js"></script>
<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/productlist_roll.js"></script>
<!--[if IE]>
<script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/public/js/html5.js" type="text/javascript"></script>
<![endif]-->
</head>{aspcms:onlineservice}
<body>
{aspcms:top}

<div class="sidebar inner">
  {aspcms:template src=left.html}
  <div class="sb_box br-bg">
    <h3 class="title">
      <div class="position">当前位置：<a href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}//" title="首页">首页</a> {aspcms:position}&gt; [position:link]{/aspcms:position}</div>
      <span>{aspcms:sortname}</span> </h3>
    <div class="clear"></div>
    <div class="active" id="shownews">
      <h1 class="title">[news:title]</h1>
      <div class="editor">
        <div>
			[news:title]
          <div id="metinfo_additional"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="met_hits">
        <div class='metjiathis'>
          <div class="jiathis_style"><span class="jiathis_txt">分享到：</span>分享代码</div>
        </div>
        点击次数：<span>点击代码</span>&nbsp;&nbsp;更新时间：[news:date]&nbsp;&nbsp;【<a href="javascript:window.print()">打印此页</a>】&nbsp;&nbsp;【<a href="javascript:self.close()">关闭</a>】</div>
      <div class="met_page">上一条：{aspcms:prev}&nbsp;&nbsp;下一条：{aspcms:next}</div>
      <h4 class="related"><span>相关文章</span></h4>
      <div class='relatedlist'>
        <ul class='list-none metlist'>
        {aspcms:content sort={aspcms:sortid} num=10 order=order}
          <li class='list top'><a href='[list:link]' title='[content:title]' target='_self'>[content:title]</a></li>
        {/aspcms:content}
         
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
{aspcms:foot}
<script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/templates/met091/images/js/fun.inc.js" type="text/javascript"></script>
</body>
</html>