<div style='width:191px; background:#FFF' >

<div style="height:56px;border:0px;padding:0;margin:0;background:url({aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/an.png) 0px 0px no-repeat;">

</div>
<div class="photoclass_cyrano" style='background:#FFF' >
{aspcms:navlist type=10}
  <A title="[navlist:name]" href="[navlist:link]"  class="photoclass_cyrano">[navlist:name]</A>
  {/aspcms:navlist}</div>
</div>
<div style='width:191px;background:#FFF'>


<div style="height:42px;border:0px;padding:0;margin:0;background:url({aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/images/lx.png) 0px 0px no-repeat;">

</div>


<div style="PADDING-BOTTOM: 30px; LINE-HEIGHT: 25px; PADDING-LEFT: 2px; PADDING-TOP: 18px;background:#FFF"><b>{aspcms:companyname}</b> <br>地址：{aspcms:companyaddress}<br> 电话：{aspcms:companyphone}  <br>传真：{aspcms:companyfax} <br>手机：{aspcms:companymobile} <br>邮箱：{aspcms:companyemail}</div>

</div>